<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Duration</th>
			<th>Playcount</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @jingles.each do |jingle| %>
		<tr>
			<td><%= link_to jingle.title, jingle %></td>
			<td><%= jingle.duration %></td>
			<td><%= jingle.playcount %></td>
			<td>
				<%= link_to controller: 'playlist_management', action: 'append_entry', remote: true, jingle_id: jingle.id, channel_playlist: @channel_playlist.id do%><i class="fa fa-plus-circle"></i><% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>