<% if !flash.blank? %>
	<div class="row">
		<div class="medium-12 columns">
			<!-- TODO add alert and notice for devise -->
			<% if flash[:error] %>
				<div class="alert-box alert"><%= flash[:error] %></div>
			<% end %>
			<% if flash[:success] %>
				<div class="alert-box success"><%= flash[:success] %></div>
			<% end %>
			<% if flash[:notice] %>
				<div class="alert-box"><%= flash[:notice] %></div>
			<% end %>
		</div>
	</div>
<% end %>