<div class="pagination-centered">
	<%= will_paginate @podcasts, :param_name => 'page',  renderer: FoundationPagination::Rails %> 
</div>
<ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-5">
	<% @podcasts.each do |podcast| %>
		<li>
			<a href="<%= directory_show_podcast_url(podcast.id) %>">
				<%= image_tag podcast.coverart('thumb_400') %>
			</a>
		</li>
	<% end %>
</ul>
<div class="pagination-centered">
	<%= will_paginate @podcasts, :param_name => 'page',  renderer: FoundationPagination::Rails %> 
</div>