<div class="row">
	<div class="medium-3 columns">
		<%= image_tag @podcast.coverart.thumb_400 %>
	</div>
	<div class="medium-9 columns">
		<h1><%= @podcast.title %></h1>
		<h3><%= @podcast.subtitle%></h3>

		<p><%= @podcast.description %></p>
	</div>
</div>