<ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-5">
	<% @episodes.each do |episode| %>
	<li>
		<a href="<%= directory_show_episode_url(episode.id) %>">
			<img src="<%= episode.icon_url_podcast_fallback %>" />
		</a>
		<h5><%= episode.title %></h5>
	</li>
	<% end %>
</ul>
<div class="pagination-centered">
	<%= will_paginate @episodes, :param_name => 'episodes_page',  renderer: FoundationPagination::Rails %> 
</div>