<div class="row">
	<div class="medium-12 columns">
		<h1>Podcast Verzeichnis</h1>

		<%= render 'searchbar' %>

		<div id="results"><%= render 'podcasts' %></div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="pagination-centered">
			<%= will_paginate @podcasts, renderer: FoundationPagination::Rails %> 
		</div>
	</div>
</div>