// Place all the styles related to the ScheduleController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.row.playlist-entry {
	margin-bottom: 1em;
}

span.button.playing{
	background-color: #006c90;
}

span.button.paused{
	background-color: #008CBA;
}