<div class="row">
	<div class="medium-12 columns">
		
		<h1><%= @channel_playlist.name %> <small><%= @channel_playlist.description %></small></h1>

		<div id="episodes" data-update-url="<%= schedule_show_url(channel_playlist_id: @channel_playlist.id) %>">
			<%= render 'episodes' %>
		</div>
	</div>
</div>